@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Martel+Sans:wght@400;900&display=swap');
:root
{
    --red : #e50914;
    --headerHeight : 700px;
    --navWidth : 80%;
    --navMargin : 1.2em auto;
    --navImgWidth : 148px;
    --navGrpSelectPadding : 0 1em;
    --navGrpButtonPadding : 0.2em 1.5em;
    --navGrpButtonFont : 0.8em;
    --headerContentH1Font : 3rem;
    --headerContentP2Font : 1.5rem;
    --headerContentP3Font : 1.25rem;
    --box1Width : 80%;
}

*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Martel Sans', sans-serif;
    color: white;
}

body
{
    background-color: black ;
}

/* utility class */
.flex
{
    display: flex;
    justify-content: center;
}

ul
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    row-gap: 0.5rem;
}

li
{
    list-style: none;  
    font-size: 1rem;
}

h2
{
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 3.5rem !important;
}

span
{
    line-height: normal !important ;
    
}

.bbot
{
    border-bottom: 10px solid #232323;
}

/* header */
header.flex
{
    position: relative;
    height: var(--headerHeight);
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    overflow: hidden;
    
}

header::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/headerbackground.jpg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -2;
    transform: scale(1.25) translateY(-10%);
}

header::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
}

/* nav */
nav
{
    width: var(--navWidth);
    margin: var(--navMargin);
    align-items: center;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

/* nav  img */
nav > img
{
    width: var(--navImgWidth);
    height: var(--navImgHeight);
}

/* nav grp */
nav > .grp
{
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

/* nav grp select */
nav > .grp > select
{
    background-color: transparent;
    padding: var(--navGrpSelectPadding);
    border-radius: 5px;
}

option
{
    color: black;
}

/* nav grp button */
nav > .grp > button
{   
    padding: var(--navGrpButtonPadding);
    border-radius: 5px;
    border: none;
    background-color: var(--red);
    font-weight: 500;
    font-size: var(--navGrpButtonFont);
}

/* header headerContent */
.headerContent
{
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* header headerContent h1*/
.headerContent > h2
{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

/* header headerContent 2nd child*/
.headerContent span:nth-child(2)
{
    font-weight: 400;
    font-size: var(--headerContentP2Font);
}

/* header headerContent 3rd child*/
.headerContent span:nth-child(3)
{
    font-weight: 400;
    font-size: var(--headerContentP3Font);
    line-height: 30px !important;
    margin: 1em 0;
}

/* header flex */

.headerContent > .flex, .btn-container div:nth-child(3)
{
    margin-top: 1em;
    width: 75%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.headerContent > .flex
{
    margin-top: 1rem ;
}

.headerContent > .flex > .flex, .btn-container div:nth-child(3) > .flex
{
    width: 100%;
    gap: 10px
}

.headerContent > .flex > .flex
{
    margin-top: 1rem;
}

.headerContent > .flex > .flex > input[type = email], .btn-container div:nth-child(3) > .flex >input[type = email]
{
    min-width: calc(50%);
    padding: 1rem 2rem;
    background-color: #12100fbd;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    border-radius: 5px;
}

input::placeholder
{
    color: white;
}

.headerContent > .flex > .flex > button, .btn-container div:nth-child(3) > .flex> button
{
    font-weight: 500;
    padding: 0.3rem 2rem;
    background-color: var(--red);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    width: max-content;
}

.box1
{
    width: var(--box1Width);
    margin: auto;
    padding: 5rem 0;
    align-items: center;
}



.content 
{
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
    width: 50%;
    line-height: normal !important;
}

.content2
{
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
    width: 50%;
}

.content  h1
{
    font-size: 3rem;
}

.video
{
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow: hidden;
}

.video  img
{
    width: 100%;
}

.video  video
{
    position: absolute;
    width: 73%;
    top: 21%;
    left: 13%;
    z-index: -1;
    object-fit: contain;
}

.videofirst
{
    position: relative;
    width: 50% !important;
}

.videofirst > img
{
    width: 100%;
}

.videofirst > div
{
    border: 2px solid gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 30px;
    background-color: black;
    border-radius: 10px;
    width: 65%;
}

.videofirst > .front .imggrp:first-child
{
    width: 15%;
}

.videofirst > .front .imggrp
{
    width: 15%;
    align-items: center;
}

.front .imggrp img
{
    width: 100%;
}

.roja
{
    flex-direction: column; 
    width: 60%;
}

#size14
{   
    font-size: 0.875em;
    color: #0071eb;
}

.video2
{
    width: 59% !important;
    top: 10% !important;
    left: 20% !important;
}

.btn-container  div:nth-child(3)
{
    margin-top: 10px;
    width: 75%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
}

.btn-container, .btn-grp
{
    flex-direction: column;
    text-align: center;
}

.btn-grp
{
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.btn-grp button
{
    background-color: #2d2d2d;
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    width: 100%;
    margin: auto;
}

.btnContentGrp
{
    justify-content: space-between;
    
}

footer
{
    flex-direction: column;
    width: var(--box1Width);
    margin: auto;
    gap: 1.5rem;
    padding: 1rem;
    
}

footer span, footer a
{
    color: rgba(255,255,255,0.7) !important;
}

footer select
{
    background-color: transparent;
    padding: var(--navGrpSelectPadding);
    border-radius: 5px;
}

footer .flex
{
    flex-direction: column;
    width: max-content;
    gap: 0.5rem;
}

@media screen and (min-width: 1920px)
{
    :root
    {
        --box1Width : 65%;
        --navWidth : 65%;
    }
}

@media (max-width: 1279px)
{
    :root
    {
        --box1Width : 96%;
        --navWidth : 96%;
    }
}

@media (max-width: 959px)
{
    :root
    {
        --box1Width : 100%;
        --navWidth : 96%;
        --navImgWidth : 90px;
        --headerContentP2Font : 1.125rem;
        --headerContentP3Font : 1.125rem;
    }
    
    ul
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex
    {
        text-align: center;
    }

    h2
    {
        font-size: 2rem;
    }

    .headerContent > .flex
    {
        width: 100%;
    }
    
    .headerContent > .flex > .flex
    {
        flex-wrap: wrap;
    }

    .headerContent > .flex > .flex > button
    {
        font-size: 1rem;
    }

    .box1
    {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .video img, .videofirst{
        width: 100% !important;
        object-fit: contain;
    }

    .content, .content2
    {
        width: 100%;
    }

    .video
    {
        width: max-content;
    }

    .content h2, .content2 h2
    {
        font-size: 1.5rem !important;
        text-align: center;
    }
    
    .content span, .content2 span
    {
        font-size: 1.125rem !important;
        text-align: center;
    }

    .btn-container h2
    {
        font-size: 1.5rem;
    }

    .reverse
    {
        flex-direction: column-reverse;
    }

    .btn-grp
    {
        padding: 0 3%;
    }

    .btn-grp button
    {
        font-size: 1.125rem;
    }

    .btn-container div:nth-child(3)
    {
        width: 100% !important;
    }

    /* .headerContent > .flex > .flex > input[type = email], .btn-container div:nth-child(3) > .flex > input[type = email]
    {
        width: 100%;
    } */

    .btn-container div:nth-child(3) .flex
    {
        flex-wrap: wrap;
    }
    
    .btn-container div:nth-child(3) button
    {
        font-size:  1rem !important;
    }

    footer
    {
        text-align: left !important;
       
    }
}

@media (max-width: 599px)
{
    .headerContent > .flex > .flex > input[type = email], .btn-container div:nth-child(3) > .flex > input[type = email]
    {
        width: 100%;
    }
}